body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 5rem ! important;
}

.cover {
  background-color: forestgreen ! important;
  color: #fff;
  font-family: 'Ubuntu', Georgia;
}

ol {
  margin-left: 5rem;
}

li {
  padding: 0.50rem;
}